#index {
  display: flex;
  flex-direction:row;

  color: rgb(5, 43, 83);
  font-size:20px;
  font-family:'Optima';
  margin-right:30px;
  margin-top: 5%;
}

.header1 {
  font-family:'Futura';
  /* font-size:60px; */
  color: rgb(249, 183, 182);
  text-align: left;
  padding: 10px;
  font-size:80px;
  width: 60%;
}



.header {
  font-family:'Futura';
  font-size:60px;
  color: rgb(5, 43, 83);
  text-align: left;
  padding: 10px;
}

.text-container {
  width: fit-content;
  margin-left:20px;
  float: right;
}

/* .image-container {
  height: 100%;
  width: 60vw;
  float: left;
  background-image: url(portpic.png);
  background-size:contain;
  background-repeat: no-repeat;
  margin-top:30px;
  background-position: 5%;
} */

.image-container {
  height: 100%;
  width: 60vw;
  float: left;
  background-image: url(portpic.png);
  background-size:contain;
  background-repeat: no-repeat;
  margin-top:30px;
  background-position: 5%;
}

/* .portrait {
  float: right;
  height: 100%;
  width: 100%;
  object-fit: cover ;
} */

a.button1{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Futura';
  font-weight:300;
  color:#ffffff;
  background-color:rgb(5, 43, 83);
  text-align:center;
  transition: all 0.2s;
}

a.button1:hover{
  background-color:#846fc987;
}

.button-container {
  position:relative;
}

.envelope {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  float:center;
}


@media screen and (max-width: 700px) {
  #index {
    flex-direction: column;
    margin-right: 0px;
  }
  .image-container {
    height: 30rem;
    width: 100%;
    float: right;
    background-size: cover;
  }
  #exp-header {
    font-size:40px;
  }
  .text-container {
    margin-top: 10px;
    margin-left: auto;
  }
  /* .portrait {
    height: 100%;
    width: 100%;
    object-fit:cover ;
  } */
}