nav {
  position:sticky;
  position: -webkit-sticky;
  top: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.578);
  z-index: 999;
  height:50px;
  padding: 10px 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    display:block;
    color: rgb(5, 43, 83);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Optima';
    font-weight:lighter;
    width:40%;
    overflow: hidden;
    padding: 10px 0;
} 

.topnav {
    display: flex;
    flex-direction:row;
    margin: 0 -1em;
    position:sticky;
}

  /* Change the color of links on hover */
.topnav a:hover { 
  color: rgb(5, 43, 83);
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 0 0 12px rgba(5, 43, 83, 0.645);
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    font-weight: bolder;
    font-size:20px;
    color: rgb(5, 43, 83);
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  /* margin: auto; */
}

.container {
  display: flex;
  flex-direction: column;
  color: rgb(5, 43, 83);
  /* margin-right: 30px; */
  margin-top: 0%;
  font-size:20px;
  font-family:'Optima';
}

.text-container {
  font-family:'Futura';
  font-size:20px;
  /* margin-right: 50px; */
  margin-top:7%;
}


.header {
    font-family:'Futura';
    color: rgb(5, 43, 83);
    font-size:60px;
}

/* h1 {
  position: center;
} */

.description {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

