.topnav-container {
  display: flex;
  flex-direction:row;
}

/* Style the links inside the navigation bar */
.topnav a {
    display:block;
    color: rgb(5, 43, 83);
    text-align: center;
    padding: 50px 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Optima';
    font-weight:bolder;
    width:40%;
    overflow: hidden;
} 
  


.topnav {
    display: flex;
    flex-direction:row;
    margin: 0 -1em;
}

  /* Change the color of links on hover */
.topnav a:hover { 
    background-color: rgb(255, 255, 255);
    color: rgb(5, 43, 83);
    font-size: 18px;
    font-weight: 900;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    font-weight: 900;
    font-size:18px;
    color: rgb(5, 43, 83);
}

.page-container {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  height: 100%;
  width: 95%;
  /* margin-top: 5rem; */
  margin: auto;
}

.text-container {
    color: rgb(5, 43, 83);
    font-family:'Optima';
    font-size:14px;
}

.container {
    display: flex;
    /* align-items: left; */
    flex-direction: column;
    color: rgb(5, 43, 83);
    margin-right: 30px;
    margin-top: 10%;
    font-size:20px;
    font-family:'Optima';
}

.header {
    font-family:'Futura';
    color: rgb(5, 43, 83);
    font-size:60px;
    position: left;
}

h1 {
  position: left;
}

.description {
  font-size: 20px;
}
