.portrait {
  float: right;
  height: 100%;
  width: 100%;
  object-fit: cover ;
}

.image-container {
  height: 100vh;
  width: 60vw;
  float: right;
}

.page-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 95%;
  margin-top: 5rem;
  margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(5, 43, 83);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Futura';
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgb(5, 43, 83);
  font-size: 18px;
  font-weight: 900;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-weight: 700;
  color: rgb(5, 43, 83);
}


.text-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgb(5, 43, 83);
}

.text2-container {
  margin-right: 30px;
  font-family:'Futura';
  font-size:20px;
}


a.button1{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Futura';
  font-weight:300;
  color:#ffffff;
  background-color:rgb(5, 43, 83);
  text-align:center;
  transition: all 0.2s;
}

a.button1:hover{
  background-color:#846fc987;
}
