/* .page-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 95%;
  margin-top: 5rem;
  margin: auto;
}

.txt-container {
  display: flex;
  align-items: left;
  flex-direction:column;
  color: rgb(5, 43, 83);
  margin-right: 30px;
  font-family:'Futura';
  font-size:14px;
  margin-top: 10%;
} */

